fastapi>=0.110.0
uvicorn>=0.28.0
structlog>=24.4.0
asyncpg>=0.29.0
SQLAlchemy>=2.0.32
alembic>=1.13.2
pydantic>=2.6.0
confluent-kafka
python-dotenv>=1.0.1
httpx>=0.27.0
prometheus-client>=0.21.0
PyJWT>=2.9.0
cryptography>=43.0.0
opentelemetry-api>=1.27.0
opentelemetry-sdk>=1.27.0
opentelemetry-exporter-otlp-proto-http>=1.27.0
opentelemetry-instrumentation-fastapi>=0.48b0